.cart{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.cart-items{
  height: 500px;
}

.cart-items-title{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  color: #BC2626;
  font-size: 15px;
}

.cart-items-item{
  padding-top: 10px;
  margin: 10px 0;
  color: black;
}

.cart-items-item img{
  width: 50px;
}

.cart-item-quantity{
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-quantity span{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.cart-items-item button{
  width: 25px;
  background-color: #BC2626;
  color: white;
  font-size: 14px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-items-item button:hover{
  background-color: #800000;
}

.no-cart{
  margin-top: 50px;
  text-align: center;
  color: #BC2626;
  min-height: 80vh;
}

.total-price{
  text-align: center;
  color: #BC2626;
  font-size: 20px;
}

.cart-item-btn{
  display: flex;
  margin: auto;
  margin-top: 20px;
  gap: 20px;
}

.cart-item-btn button{
  width: 100px;
  background-color: #BC2626;
  color: white;
  font-size: 18px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.cart-item-btn button:hover{
  background-color: #800000;
}