.food-detail{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 30px;
}

.food-detail-left{
  width: 50%;
}

.food-detail-left img{
  width: 100%;
  border-radius: 10px;
}

.food-detail-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.food-detail-price{
  font-size: 18px;
  color: #BC2626;
}

.food-detail-right button{
  background-color: #BC2626;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.food-detail-right button:hover{
  background-color: #800000;
}

.food-detail-quantity{
  display: flex;
  align-items: center;
  gap: 20px;
}

.food-detail-quantity span{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}